.wrap {
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.menu {
  min-width: 150px;
  min-height: 300px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 8px;
}

.link {
  font-size: 20px;
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
.link:hover {
  color: aquamarine;
}
.active__link{
  color: aquamarine;
  border-bottom: 2px solid aquamarine;
}

.title {
  margin: 0;
  text-align: center;
  font-family: Roboto;
}