
.footerWrap {
    width: 90%;
    min-height: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 19px;
    background-color: lightgrey;
}

.text {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #545454;
}